.sidebar {
    background-color: rgb(48, 46, 46);
    color: white;
    height: 100vh;
    padding: 1rem;
    max-width: 15vw;

    .list-item {
        margin: 1rem 0;
        color: rgb(255, 47, 0);

        a {
            color: white;
        }
    }
}